<!-- Header Start -->
<header class="navigation">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-lg p-0">
          <img src="{{asset('images/logo_sio.png')}}" alt="Logo">
          <div class="collapse navbar-collapse ml-auto" id="navbarsExample09">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item @@Accueil">
                <a class="nav-link" href="{{ path('app_index') }}">Accueil</a>
              </li>
              <li class="nav-item @@articles"><a class="nav-link" href="{{ path('app_article_index') }}">Articles</a></li>
              <li class="nav-item dropdown @@categories">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false"> Catégories <span class="ion-ios-arrow-down"></span></a>
                <ul class="dropdown-menu" aria-labelledby="dropdown05">
                  {{ render(controller(
                      'App\\Controller\\CategorieController::findCateg'
                    ))
                  }}
                  <a class="dropdown-item" href="{{ path('app_categorie_index') }}">...</a>
                </ul>
              </li>
              {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li class="nav-item @@Déconnexion">
                  <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
              {% else %}
                <li class="nav-item @@S'authentifier">
                  <a class="nav-link" href="{{ path('app_login') }}">S'authentifier</a>
                </li>
                <li class="nav-item @@S'inscrire">
                  <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
                </li>
              {% endif %}
              {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item @@admin">
                  <a class="nav-link" href="{{ path('admin') }}">Admin Panel</a>
                </li>
              {% endif %}
              <li>
                {{ render(controller(
                  'App\\Controller\\ArticleController::search'
                ))}}
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

</header><!-- header close -->

