<head>
  {% block head %}
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title> Blog BTS SIO </title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Creative Agency Bootstrap Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="theme-name" content="airspace">
    <meta name="generator" content="Themefisher Airspace Template v1.0">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset('images/icon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset('images/icon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset('images/icon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{asset('images/icon/site.webmanifest')}}">
    <link rel="mask-icon" href="{{asset('images/icon/safari-pinned-tab.svg')}}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
      <!-- bootstrap.min css -->
      <link rel="stylesheet" href="{{asset('plugins/bootstrap/bootstrap.min.css')}}">
      <!-- Ionic Icon Css -->
      <link rel="stylesheet" href="{{asset('plugins/Ionicons/css/ionicons.min.css')}}">
      <!-- animate.css -->
      <link rel="stylesheet" href="{{asset('plugins/animate-css/animate.css')}}">
      <!-- Magnify Popup -->
      <link rel="stylesheet" href="{{asset('plugins/magnific-popup/magnific-popup.css')}}">
      <!-- Slick CSS -->
      <link rel="stylesheet" href="{{asset('plugins/slick/slick.css')}}">
      
      <!-- Main Stylesheet -->
      <link rel="stylesheet" href="{{asset('css/style.css')}}">
      
      
      
    {% endblock %}
  {% endblock %}

</head>