{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    {% for article in articles %}
        <div class="page-wrapper">
            <div class="post">
                <div class="post-media post-thumb">
                    <h3 class="post-title"><a href="blog-single.html">{{article.titre}}</a></h3>
                    <div class="post-meta">
                        <ul>
                            <li>
                                <i class="ion-calendar"></i>{{article.date|date("d/m/Y H:i")}}
                            </li>
                            <li>
                                <i class="ion-android-people"></i> {{ article.utilisateur.pseudo}}
                            </li>
                        </ul>
                    </div>
                    <div class="post-content">
                        <p>{{ article.contenu }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun article disponible</p>
    {% endfor %}
    <a href="{{ path('app_article_new') }}">Ecrire un article</a>
{% endblock %}


