{% extends 'base.html.twig' %}



{% block body %}

    <section class="slider">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="block">
                <h1 class="animated fadeInUp"> Blog BTS SIO</h1>
                <p class="animated fadeInUp">Retrouvez tous les posts écrits par les étudiants, des pros ou des professeurs</p>
            </div>
            </div>
        </div>
        </div>
    </section>


    <div class="page-wrapper">
        <div class="container">
            <h1 class="haut-page">Tous nos articles</h1>
            <br>
            <div class="row">
            {% for article in articles %}
                <div class="col-md-6">
                    <div class="post">
                        <div class="post-thumb">
                            <img class="img-fluid" src={{article.image}} alt="">
                        </div>
                        <h3 class="post-title">{{article.titre }}</h3>
                        <div class="post-meta">
                            {{[article.contenu| u.truncate(100)  , "..."] | join | raw}}
                            <ul>
                                <li>
                                    <i class="ion-calendar"></i> {{article.date|date("d/m/Y H:i")}}
                                </li>
                                <li>
                                    <i class="ion-android-people"></i> {{ article.utilisateur.pseudo}}
                                </li>
                                <li>
                                    <a href="blog-grid.html"><i class="ion-pricetags"></i> {{ article.categorie.libelle}} </a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-content">
                            <a href="{{path('app_article_show', {'slug': article.slug})}}" class="btn btn-main">Lire</a>
                            <a href="{{ path('app_article_api', {'id': article.id}) }}" class="btn btn-main">Voir API</a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>Aucun article trouvé</p>
            {% endfor %}
            </div>
            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{path('app_article_new')}}" class="btn btn-main" style="text-align:center; margin:auto;">Écrire un article</a>
                {% else %}
                    <a href="{{path('app_login')}}" class="btn btn-main" style="text-align:center; margin:auto;">Connectez vous pour écrire un article</a>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}
