{% extends 'base.html.twig' %}



{% block body %}

    <section class="slider">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="block">
                <h1 class="animated fadeInUp"> Blog BTS SIO</h1>
                <p class="animated fadeInUp">Retrouvez tous les posts écrits par les étudiants, des pros ou des professeurs</p>
            </div>
            </div>
        </div>
        </div>
    </section>


    <div class="page-wrapper">
        <h1 class="haut-page">Tous nos articles</h1>
        <br>
        <div class="row">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{path('app_article_new')}}" class="btn btn-main" style="text-align:center; margin:auto; border-radius:8px;">Écrire un article</a>
            {% else %}
                <a href="{{path('app_login')}}" class="btn btn-main" style="text-align:center; margin:auto;border-radius:8px;">Connectez vous pour écrire un article</a>
            {% endif %}
        </div>   
        <br>
        <div class="container">
            {% for article in articles %}
                <div class="border-bottom border-primary p-2">
                    <br>
                    <div class="row align-item-center">
                        <div class="col">
                            <div class="post-thumb">
                                <img class="img-fluid" src={{article.image}} alt="">
                            </div>
                        </div>
                        <div class="col-5">
                            <h3 class="post-title">{{article.titre }}</h3>
                            <div class="post-meta">
                                {{[article.contenu| u.truncate(100)  , "..."] | join | raw}}
                            </div>
                        </div>
                        <div class="col">
                            <ul>
                                <li>
                                    <i class="ion-calendar"></i> {{article.date|date("d/m/Y H:i")}}
                                </li>
                                <li>
                                    <i class="ion-android-people"></i> {{ article.utilisateur.pseudo}}
                                </li>
                                <li>
                                    <a href="{{path('app_article_categorie', {'slug': article.categorie.slug})}}"><i class="ion-pricetags"></i> {{ article.categorie.libelle}} </a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-content">
                            <a href="{{path('app_article_show', {'slug': article.slug})}}" class="btn btn-main">Lire</a>
                            <br>
                            <a href="{{ path('app_article_api', {'id': article.id}) }}" class="btn btn-main" style="margin-top:6px">Voir API</a>
                        </div>
                    </div>
                <br>
                </div>
                {% else %}
                    <p>Aucun article trouvé</p>
            {% endfor %}
            <br>
            <div class="row">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{path('app_article_new')}}" class="btn btn-main" style="text-align:center; margin:auto;border-radius:8px;">Écrire un article</a>
                {% else %}
                    <a href="{{path('app_login')}}" class="btn btn-main" style="text-align:center; margin:auto;border-radius:8px;">Connectez vous pour écrire un article</a>
                {% endif %}
            </div>   
        </div>
    </div>



{% endblock %}
