{% for article in articles %}
    <div>
        <i class="ion-quote"></i>
        <h4>{{article.titre}}</h4>
        {{article.contenu | raw}}
        <div class="user">
            <img src="{{article.utilisateur.image}}" alt="People">
            <p><b>{{article.utilisateur.pseudo}}</b></p>
            <i class="ion-calendar"></i> <p>{{article.date|date("d/m/Y H:i")}}</p>
        </div>
    </div>
{% endfor %}