{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}

<hr>
<br>
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <h1 class="animated fadeInUp" style="text-align:center"> {{article.titre}}</h1>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <img src="{{article.image}}" class="img-fluid">
        </div>
    </div>
<br>
<br>
<div class ="container">
    <div class="row justify-content-arround" id="contenu_article">
        {{article.contenu | raw}}
    </div>
    <br>
    <hr>
    <div class="row justify-content-end">
        <div class="col-md-1">
            <img src="{{article.utilisateur.image}}" alt="People" height="60" width="60">
        </div>
        <div class="col-md-4">
            <h5>Écrit par {{article.utilisateur.pseudo}}</h5>
            <h6>Publié le {{article.date|date("d/m/Y H:i")}}</h6>
        </div>
    </div>
    <br> 
    <div class="row justify-content-center">
        <div class="col-md-8">
            <a href="{{ path('app_article_index') }}" class="btn btn-main" style="right:200px">Retourner à la liste</a>

            {% if is_granted('EDIT', article) or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_article_edit', {'id': article.id}) }}" class="btn btn-main">Éditer</a>
            {% endif %}

            <a {% if is_granted('IS_AUTHENTICATED_FULLY') %} href="{{ path('app_avis_new', {'id': article.id}) }}"{% else %} href="{{ path('app_login')}}"{% endif %} class="btn btn-main" style="right:200px">Laisser un avis</a>
        </div>
    </div>
</div>


{% endblock %}